.gitignore
.venv
.venx
hadolint
.github
.circleci
.pytest_cache
__pycache__
.vscode
.pylintrc
test-requirements.txt
*.db
tests
Dockerfile
*.drawio
htmlcov
setup.cfg    
tmp
prometheus
attatchments
Makefile
.coverage 
README.md
README.rst
migrations
.git