[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.1"
Flask-Migrate = "==3.0.1"
Flask-SQLAlchemy = "==2.5.1"
python-dotenv = "==0.18.0"
waitress = "==2.0.0"
pytest = "==6.2.4"
PyJWT = "==2.1.0"
requests = "==2.26.0"
flasgger = ">=0.9.5"
# INSTALL OUT OF PIPENV LOCK psycopg2-binary

[dev-packages]
coverage = ">=5.5"
pytest-ordering = "*"
pytest = "==6.2.4"
black = "==21.6b0"

[requires]
python_version = "3.8"
